<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title th:text="#{aplicacion.titulo}">TechShop</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2 th:text="#{articulo.titulo}">Datos de Articulo</h2>
            <a th:href="@{/articulo/nuevo}" th:text="#{articulo.nuevo}">Nuevo Articulo</a>  <!-- un url -->
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Id de la Categoria</th>
                            <th th:text="#{articulo.descripcion}">Descripcion</th>
                            <th th:text="#{articulo.detalle}">Detalle</th>
                            <th th:text="#{articulo.precio}">Precio</th>
                            <th th:text="#{articulo.existencias}">Existencias</th>
                            <th th:text="#{articulo.activo}">Activo</th>
                            <th th:text="#{accion.eliminar}">Eliminar</th>
                            <th th:text="#{accion.actualizar}">Actualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <td>[[${articulo.idCategoria}]]</td>
                            <td th:text="#{articulo.descripcion}">[[${articulo.descripcion}]]</td>
                            <td th:text="#{articulo.detalle}">[[${articulo.detalle}]]</td>
                            <td th:text="#{articulo.precio}">[[${articulo.precio}]]</td>
                            <td th:text="#{articulo.existencias}">[[${articulo.existencias}]]</td>
                            <td th:text="#{articulo.activo}">[[${articulo.activo}]]</td>
                            <td><a th:href="@{/articulo/elimina/} + ${articulo.idArticulo}">[[#{accion.eliminar}]]</a></td>
                            <td><a th:href="@{/articulo/actualiza/} + ${articulo.idArticulo}">[[#{accion.actualizar}]]</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos == null or articulo.empty}" th:text="#{articulo.no_mostrar}">
                <h3>No tenemos articulo que mostrar</h3>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
