<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title th:text="#{aplicacion.titulo}">TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2 th:text="#{cliente.titulo}">Listado de Clientes</h2>
            <a th:href="@{/cliente/nuevo}" th:text="#{cliente.nuevo}">Nuevo Cliente</a>  <!-- un url -->
            <div th:if="${clientes != null and !clientes.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th th:text="#{cliente.nombre}">Nombre</th>
                            <th th:text="#{cliente.apellidos}">Apellidos</th>
                            <th th:text="#{cliente.correo}">Correo</th>
                            <th th:text="#{cliente.telefono}">Telefono</th>
                            <th th:text="#{cliente.limite}">Limite</th>
                            <th th:text="#{accion.eliminar}">Eliminar</th>
                            <th th:text="#{accion.actualizar}">Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cliente : ${clientes}">
                            <td th:text="#{cliente.nombre}">[[${cliente.nombre}]]</td>
                            <td th:text="#{cliente.apellidos}">[[${cliente.apellidos}]]</td>
                            <td th:text="#{cliente.correo}">[[${cliente.correo}]]</td>
                            <td th:text="#{cliente.telefono}">[[${cliente.telefono}]]</td>
                            <td style="text-align: right">[[${#numbers.formatDecimal(cliente.credito.limite,3,2)}]]</td>
                            <td><a th:href="@{/cliente/elimina/} + ${cliente.idCliente}" th:text="#{accion.eliminar}">Elimina</a></td>
                            <td><a th:href="@{/cliente/actualiza/} + ${cliente.idCliente}" th:text="#{accion.actualizar}">Actualiza</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${clientes == null or clientes.empty}" >
                <h3 th:text="#{cliente.no_mostrar}">No tenemos clientes que mostrar</h3>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
