
*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.header {
    background-color: #E9C03A;
    height: 95px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-pills {
    color: white;
    text-decoration: none;
}


.logo {
    font-size: 22px; /*fuente del logo*/
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 15px; /*fuente de los apratados del menu*/
    margin: 0 10px;
    line-height: 90px;
}

.nav-menu-link:hover {
    background-color: #024070;
    transition: 1s;

}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 8px;
}