<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title th:text="#{aplicacion.titulo}">TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2 th:text="#{articulo.titulo}">Nuestros Articulos</h2>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th th:text="#{articulo.descripcion}"></th>
                            <th th:text="#{articulo.precio}"></th>
                            <th th:text="#{articulo.comprar}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <td th:text="#{articulo.descripcion}">[[${articulo.descripcion}]]</td>
                            <td style="text-align: right">[[${#numbers.formatDecimal(articulo.precio,3,2)}]]</td>
                            <td><a th:href="@{/carrito/comprar/} + ${articulo.idArticulo}">[[#{articulo.comprar}]]</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos == null or articulos.empty}">
                <h3 th:text="#{articulo.no_mostrar}">No tenemos articulos que mostrar</h3>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
